.bank-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.bank-logo h1 {
  font-size: 3.5rem;
  color: #ffff;
}

.bank-logo button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  margin-right: 30px;
	background: #F7B219;
	font-size: 17px;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
}

.bank-logo button:hover {
background: #ffff;
}
